
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 15px;

}

#art {
  position: relative;
  width: 70%;
  height: auto;

}

.content {
  visibility: hidden;
  position: absolute;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.25fr 10fr 1fr;
}

/* bottom logo */
.logo {
    width: 3rem;
    height: auto;
    position: absolute;
    right: 40px;
    top: 20px;
  }

  /* top logo */
  .logo_2 {
    width: 3rem;
    height: auto;
    position: relative;
    top: 40px;
    left: 15px;
    display: inline-block;

  }


  .header {
    color: #ebbc20;
    font-family: 'Univers LT Std', sans-serif;
    font-weight: 300;
    position: absolute;


    bottom: 0;
    transition: all .25s ease;
    display: inline-block;
  }

  .header:hover {
    color: #cca41e;
  }

/* Grid */

.tl {
    position: relative;
}

.left {

    position: relative;
}
.inner-left {
    position: absolute;
    left: 50px;
    top: 20px;
}

.right {

    position: relative;

}

.br {
    position: relative;

}

.bl {
    position: relative;

}
/* ----------------------*/

.buttons {
  color: #ebbc20;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: .75rem;
  transition: all .25s ease;
}

.buttons:hover {
  color: #cca41e;
  cursor: default;
  text-decoration: none;
}

.buttons:active {
  color: #335be1;
}
ul, #myUL {
    list-style-type: none;
    color: #ebbc20;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: .75rem;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: .25rem;
    font-size: .8rem;
  }



  a:link {
    color: #ebbc20;
    text-decoration: none;
    transition: all .25s ease;
  }
  
  /* visited link */
  a:visited {
    color: #ebbc20;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #cca41e;
    
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #cca41e;
    text-decoration: none;
  }

  /* Style the caret/arrow */
  .caret {
    user-select: none; /* Prevent text selection */
    transition: all .25s ease;
    margin-left: -13px;
  }

  .caret:hover {
    color: #cca41e;


  }
  .caret:active {
    color: #335be1;
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\005E";
    color: #c4a82d68;
    display: inline-block;
    margin-right: 6px;
    
    transform: rotate(90deg)
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(180deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
    margin-left: -15px;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  } 

  #image {
    position: relative;
  }

