@media (max-width: 578px) {
  body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: #f9f9f9;
    overflow: visible;
  }

  h2 {
    font-size: 1.5rem;
    color: #335be1;
  }

  p {
    color: #335be1;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco,
      Bitstream Vera Sans Mono, monospace;
    font-size: 0.7rem;
  }

  .logo-top {
    min-width: 100px;
    max-width: 240px;
    width: 125px;
    height: auto;

    position: absolute;
    bottom: 0px;
    left: 25px;
    /* border: solid black; */
  }

  .nav {
    float: right;
    padding: 50px 30px 0px 10px;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco,
      Bitstream Vera Sans Mono, monospace;
    font-weight: 400;
    font-size: 0.75rem;
    color: #ebbc20;
    text-decoration: none;
    /* border: solid black; */
    /* position: relative; */
  }

  /* main grid styling */
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
      80px minmax(calc(30vh - 65px), max-content) minmax(
        calc(70vh - 65px),
        max-content
      )
      50px;
    /* grid-template-rows: 80px auto auto 50px; */
  }
  .top {
    position: relative;
    grid-column: 1;
    /* border: solid red; */
  }
  .center-left {
    position: relative;
    padding: 60px 20px 20px 40px;

    /* border: solid black; */

    grid-row: 2;
  }
  .inner-left {
    position: absolute;
    left: 70px;
    top: 20px;
    /* border: solid green; */
  }
  .center-right {
    /* display: grid; */
    position: relative;
    overflow-y: scroll;
    grid-row: 3;
    /* scrollbar-width: none; */
    /* border: solid blue; */
    /* grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 10fr, 1fr; */
  }
  .bottom {
    position: relative;
    /* border: solid orange; */
    grid-row: 4;
  }

  /* inner content grid styling */
  .content {
    display: none;
    position: relative;
    /* grid-column: 1;
    grid-row: 1; */
    grid-template-columns: 100%;
    grid-template-rows: fit-content(60px) auto auto auto;
    /* border: solid purple; */
    /* height: 100%;
    max-height: 100%; */
  }

  .content-top {
    grid-row: 1;
    /* border: solid orange; */
    padding: 10px 0px 0px calc(3vw / 2);
    position: relative;
  }

  .content-left {
    /* border: solid red; */
    grid-column: 1;
    grid-row: 2;
    position: relative;
  }

  .content-right {
    /* border: solid yellow; */
    grid-column: 1;
    grid-row: 3;
    overflow-y: auto;
    position: relative;
    padding: 0px 50px 20px calc(3vw / 2);
  }

  .content-bottom {
    /* border: solid green; */
    grid-row: 4;
    position: relative;
    padding: 0px 0px 0px calc(3vw / 2);
  }

  /* .youtube-video {
    aspect-ratio: 16 / 9;
    width: 97%;
    padding: 0px 0px 0px calc(3vw / 2);
  } */

  #album-art {
    position: relative;
    max-width: 97%;
    height: auto;
    left: calc(3vw / 2);
    filter: drop-shadow(16px 16px 10px rgba(187, 187, 187, 0.249));
    padding: 0px 20px 0px 0px;
  }
  #album-art:hover {
    position: relative;
    max-width: 96.5%;
    height: auto;
    transition: all 0.25s ease;
    filter: drop-shadow(16px 16px 10px rgba(187, 187, 187, 0.249)) blur(0.5px);
    padding: 0px 0px 0.5% 0px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 97%;
    left: calc(3vw / 2);
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  h2 {
    font-size: 1.5rem;
    color: #335be1;
  }
  p {
    font-size: 0.7rem;
    /* padding: 0px 20px 0px 0px; */
  }

  .logo-top {
    min-width: 100px;
    max-width: 240px;
    width: 125px;
    height: auto;

    position: absolute;
    bottom: 0px;
    left: 25px;
    /* border: solid black; */
  }

  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 10fr 1fr;
  }

  .top {
    position: relative;
    grid-column: 1 / 3;
    /* border: solid red; */
  }

  .center-right {
    position: relative;
    overflow-y: scroll;
    /* height: max-content; */
    /* border: solid blue; */
  }

  .center-left {
    position: relative;
    /* border: solid black; */
    overflow-y: auto;
    padding: 60px 20px 20px 40px;
  }

  .content {
    display: none;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: fit-content(60px) auto auto auto;
    height: max-content;
  }

  .content-top {
    grid-row: 1;
    /* border: solid orange; */
    padding: 27px 0px 0px 0px;
    position: relative;
  }

  .content-left {
    /* border: solid red; */
    grid-column: 1;
    grid-row: 2;
    position: relative;
  }

  .content-right {
    /* border: solid yellow; */
    grid-column: 1;
    grid-row: 3;
    overflow-y: auto;
    position: relative;
    padding: 0px 50px 20px 0px;
  }

  .content-bottom {
    /* border: solid green; */
    grid-row: 4;
    position: relative;
  }
  /* .youtube-video {
    aspect-ratio: 16 / 9;
    width: 95%;

  } */

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 97%;
  }

  #album-art {
    position: relative;
    max-width: 93%;
    height: auto;
    filter: drop-shadow(16px 16px 10px rgba(187, 187, 187, 0.249));
    padding: 0px 20px 0px 0px;
  }
  #album-art:hover {
    position: relative;
    max-width: 92.5%;
    height: auto;
    transition: all 0.25s ease;
    filter: drop-shadow(16px 16px 10px rgba(187, 187, 187, 0.249)) blur(0.5px);
    padding: 0px 0px 0.5% 0px;
  }

  #album-art-no {
    padding: 0px 20px 0px 0px;
  }
}
