 
 body {
  background-color: #f3f3f3;
  margin: 20px;
 }

 * {
  cursor: pointer;
  box-sizing: border-box;
  
}
 
 /* Remove default bullets */
 ul, #myUL {
    list-style-type: none;
    color: #ebbc20;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: .75rem;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: .25rem;
    font-size: .8rem;
  }



  a:link {
    color: #ebbc20;
    text-decoration: none;
    transition: all .25s ease;
  }
  
  /* visited link */
  a:visited {
    color: #ebbc20;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #cca41e;
    
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  }

  /* Style the caret/arrow */
  .caret {
    user-select: none; /* Prevent text selection */
    transition: all .25s ease;
    margin-left: -13px;
  }

  .caret:hover {
    color: #cca41e;

  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\005E";
    color: #c4a82d68;
    display: inline-block;
    margin-right: 6px;
    
    transform: rotate(90deg)
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(180deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
    margin-left: -15px;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  } 

  .header {
    margin-left: 10px;
    color: #ebbc20;
    font-family: 'Univers LT Std', sans-serif;
    font-weight: 300;
    float: right;
    transition: all .25s ease;
  }

  .header:hover {
    color: #cca41e;
  }



  .logo {
    width: 3rem;
    height: auto;
  }





  
  .container {
    display: flex;
    background-color: #f3f3f3;
  }
  
  img {

    display: inline-block;
    justify-content: left;
  }
  
  .left,
  .right {
    padding: 20px;
    width: 50%;
    border: none;
  }
  
  .content {
    width: 80%;
    margin: 40px auto;
  }
  
  .title {
    display: inline-block;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
    .left,
    .right {
      width: 100%;
    }
    .content {
      width: 100%;
    }
  }







